body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: black;
}

body::before {
    content: "";
    background-color: #E1DFF2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.9;
}

header {
    text-align: center;
    padding: 10px;
}

header img {
    align-content: center;
    height: 180px;
}

h1 {
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 30px;
}

h3 {
    text-align: center;
    margin-top: 30px;
}

main {
    max-width: 800px;
    margin-top: 20px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    background-color: #4738A6;
    color: white;
    border: none;
    cursor: pointer;
}

p {
    margin: 20px;
    text-align: justify;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    outline: none;
}

.grupoDetalheUsuario,
.grupoBotoes {
    text-align: center;
}

.grupoProgresso {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    accent-color: #0f3f5f;
    font-size: 15px;
    align-items: center;
    gap: 10px;
}

.grupoPerguntas p {
    justify-content: center;
    text-align: center;
    height: 20px;
    width: 80%;
    margin: 0 auto;
}

.grupoOpcoes {
    margin-top: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.grupoOpcoes span {
    margin-left: 20px;
    margin-right: 20px;
}

.circulo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.circulo:hover,
.selecionada {
    background-color: #201B40;
}

.grupoCompetencia {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.grupoCompetencia p {
    width: 25%;
}

.grupoCompetencia div {
    width: 15%;
}

.grupoCompetencia progress {
    width: 60%;
    accent-color: #0f3f5f;
    height: 25px;
}

.oculto {
    display: none;
}